.heading {
  margin: 0;
  color: var(--gray-800);
  font-style: italic;
}

.SearchForm .section-content {
  padding-top: 0;
  padding-bottom: 0;
}

.SearchForm .form {
  padding-top: 3.75vw;
  padding-bottom: 3.75vw;
}

input {
  background: #fff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 40vw;
}

ul li {
  font-size: 20px;
} 